.textAreaContainer > textarea {
	/* text-align: center; */
	height: 4.375em;
	width: 16em;
	background-color: rgba(157, 222, 220, 0.098);
	color: rgb(40, 51, 181);
	font-size: 0.9rem;
	border: 1.3px solid rgb(20, 136, 199);
	cursor: text;
	transition: all 0.3s ease;
	border-radius: 0.375em;
	margin: 0px 0.3125em 0px 0.3125em;
}

.parrafTextArea {
	margin-bottom: 0.3125em;
}
